{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": false,
        "corejs": 3 
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    // "react-hot-loader/babel",
    "react-refresh/babel",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}