.logo {
  display: flex;
  float: left;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.logo > span{
  color: white;
  font-size: 20px;
}

.logo > span:not(.anticon){
  line-height: 30px;
}

.logo:hover{
  cursor: pointer;
}

.logo .anticon:hover{
  color: burlywood;
}