<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="InFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,stacktrace}"
              createDirs="true" deleteOldFileOnStartup="false"/>
    </target>
  </targets>
  <rules>
    <logger name="*" levels="Info,Error,Fatal" writeTo="InFile" />
  </rules>
</nlog>