.numbers{
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.number-card{
  width: 200px;
  height: 200px;
  background-color: rgb(0,21,41,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  text-shadow: 4px 4px 5px black;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.number-card:before{
  display: block;
  position: absolute;
  font-size: 30px;
  left: auto;
  top: 24px;
}

.number-card:first-child:before{
  content: 'Адвокатов';
}

.number-card:last-child:before{
  content: 'Клиентов';
}